.icon {
	height: 100px;
	width: 100px;
}

html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 550px;
	width: 400px;
	background: #E6E3D2;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	border: 5px solid black;
}

h2 {
	font-size: 40px;
	line-height: 40px;
	margin: 10px 0 10px;
}

p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

a {
	color: #A84900;
	text-decoration: none;
}

a:hover {
	color: #C47233;
	text-decoration: underline;
}

#data-story p {
	margin: 5px 0;
}

ul {
	margin-top: 0;
	font-size: 18px;
	line-height: 26px;
}

h1 {
	margin-top: 30px;
	margin-bottom: 4px;
}

.tutorial-list-ul {
	list-style: none;
	padding-left: 25px;
}
 
.tutorial-list-ul li:before {
	font-weight: bold;
	content: "+";
	padding-right: 5px;
}

.link-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.5rem;
	grid-auto-rows: minmax(80px, auto);
}

.link-grid > a {
	font-size: 15px;
	padding: 0.5rem;
	border-radius: 1rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	overflow-wrap: break-word;
	color: black;
	opacity: 0.8;
	border: 3px solid transparent;
	transition: border 0.6s;
}

.link-grid > a:hover {
	opacity: 1;
	border: 3px solid black;
}

section {
	height: 100%;
	position: relative;
}

.circle {
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin: 5px;
	padding: 12px; /* padding is half of the minimum circle diameter */
	float: left;
	border: 0px solid transparent;
	transition: border 0.1s ease-in-out;

	word-break: break-all;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;

	cursor: pointer;
}

.circle:hover {
	border: 3px solid black;
}

.circle:hover::after {
	opacity: 1;
	z-index: 1;
}

#circle-container {
	height: 180px;
	width: 100%;
	display: flex;
	align-items: center;
}

#top-site-detail {
	padding: 20px;
	border-top: 4px solid black;
	background: #E6E3D2;
	position: absolute;
	font-size: 18px;
	top: 237px;
	height: 500px;
	left: 0px;
	width: calc(100% - 40px);
  
	opacity: 0;
	transition: opacity 0.2s linear;
	z-index: -1;
}

#sites-need-love img {
	margin-left: 16px;
	vertical-align: middle;
	cursor: pointer;
}

#sites-need-love a {
	margin-left: 8px;
}

#intro-exit {
	position: absolute;
	bottom: 16px;
	right: 21px;
	font-size: 18px;
	text-decoration-line: underline;
	cursor: pointer;
}

.ad-popup-disapppointed-toaster {
    height:170px;
    animation: popup ease-in-out 7s infinite;
}
.ad-popup-free-dog {
    width: 220px;
    position: absolute;
    top: 20px;
    left: 40px;
    animation: popup 7s ease-in-out 2s infinite, flashing-border ease-in-out 1.5s infinite;
}
.ad-popup-new-rat {
    height:140px;
    position: absolute;
    top: 40px;
    left: 80px;
    animation: popup 7s ease-in-out 4s infinite;
}

@keyframes flashing-border {
    0% {
        border: 3px solid white;
    }
    50% {
        border: 3px solid red;
    }
    100% {
        border: 3px solid white;
    }
}
@keyframes popup {
    0%{
        z-index: -1;
        transform: scale(1, 1);
    }
    50%{
        z-index: 1;
        transform: scale(1.2, 1.2);
    }
    100%{
        z-index: -1;
        transform: scale(1, 1);
    }
}