.icon {
	height: 100px;
	width: 100px;
}

html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 550px;
	width: 400px;
	background: #E6E3D2;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	border: 5px solid black;
}

h1 {
	margin-top: 30px;
	margin-bottom: 4px;
}

h2 {
	font-size: 40px;
	line-height: 40px;
	margin: 10px 0 10px;
}

p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

button {
	cursor: pointer;
}

a {
	color: #A84900;
	text-decoration: none;
}

a:hover {
	color: #C47233;
	text-decoration: underline;
}

#data-story p {
	margin: 5px 0;
}

ul {
	margin-top: 0;
	font-size: 18px;
	line-height: 26px;
}

.tutorial-list-ul {
	list-style: none;
	padding-left: 25px;
}

.tutorial-list-ul li:before {
	font-weight: bold;
	content: "+";
	padding-right: 5px;
}

.link-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.5rem;
	grid-auto-rows: minmax(80px, auto);
}

.link-grid > a {
	font-size: 15px;
	padding: 0.5rem;
	border-radius: 1rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	overflow-wrap: break-word;
	color: black;
	opacity: 0.8;
	border: 3px solid transparent;
	transition: border 0.6s;
}

.link-grid > a:hover {
	opacity: 1;
	border: 3px solid black;
}

section {
	height: 100%;
	position: relative;
}

.circle {
	border-radius: 100%;
	height: 100px;
	width: 100px;
	margin: 5px;
	padding: 12px; /* padding is half of the minimum circle diameter */
	float: left;
	border: 0px solid transparent;
	transition: border 0.1s ease-in-out;

	word-break: break-all;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;

	cursor: pointer;
}

.circle:hover {
	border: 3px solid black;
}

.circle:hover::after {
	opacity: 1;
	z-index: 1;
}

#top-site-detail a {
	display: block;
	color: black;
	text-decoration: underline;
	margin-bottom: 20px;
}

#top-site-detail p {
	margin-bottom: 20px;
}

#circle-container {
	height: 180px;
	width: 100%;
	display: flex;
	align-items: center;
}

#top-site-detail {
	padding: 20px;
	border-top: 4px solid black;
	background: #E6E3D2;
	position: absolute;
	font-size: 18px;
	top: 237px;
	height: 500px;
	left: 0px;
	width: calc(100% - 40px);

	opacity: 0;
	transition: opacity 0.2s linear;
	z-index: -1;
}

#sites-need-love-container img {
	margin-left: 16px;
	vertical-align: middle;
	cursor: pointer;
}

#sites-need-love-container a {
	margin-left: 8px;
}

.ad-popup-disappointed-toaster {
	height:170px;
	animation: popup ease-in-out 7s infinite;
}
.ad-popup-free-dog {
	width: 220px;
	position: absolute;
	top: 20px;
	left: 40px;
	animation: popup 7s ease-in-out 2s infinite, flashing-border ease-in-out 1.5s infinite;
}
.ad-popup-new-rat {
	height:140px;
	position: absolute;
	top: 40px;
	left: 80px;
	animation: popup 7s ease-in-out 4s infinite;
}

#circle-empty-illustration {
	margin: 15px auto;
	padding-left: 35px;
	width: 170px;
}

@keyframes flashing-border {
	0% {
		border: 3px solid white;
	}
	50% {
		border: 3px solid red;
	}
	100% {
		border: 3px solid white;
	}
}
@keyframes popup {
	0%{
		z-index: -1;
		transform: scale(1, 1);
	}
	50%{
		z-index: 1;
		transform: scale(1.2, 1.2);
	}
	100%{
		z-index: -1;
		transform: scale(1, 1);
	}
}

.tooltip-bubble-left, .tooltip-bubble-right {
	position: absolute;
	background: #000000;
	color: white;
	padding: 10px;
	visibility: hidden;
	z-index: 1;
}
.tooltip-bubble-left {
	margin-right: 5px;
	margin-left: -10px;
}
.tooltip-bubble-right {
	margin-right: -10px;
	margin-left: 5px;
	right: 0;
}

.tooltip:hover + .tooltip-bubble-left, .tooltip:hover + .tooltip-bubble-right {
	visibility: visible;
}

.tooltip-bubble-left:after, .tooltip-bubble-right:after {
	content: '';
	position: absolute;
	top: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #000000;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}
.tooltip-bubble-right:after {
	left: 65%;
}
.tooltip-love {
	top: 275px;
}
.tooltip-love:after {
	content: '';
	position: absolute;
	top: auto;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: black;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -5px;
}

.favicon {
	height: 16px;
	width: 16px;
	border-radius: 50%;
}

/* Hide lazy-loaded favicons before they have a src because chrome gives them an ugly border */
.favicon[src=''], .favicon:not([src]) {
	opacity: 0;
}

/****************************************
 * data-story footer
 ****************************************/

footer {
	background-color: black;
	bottom: 0;
	position: absolute;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	border-top: 5px solid black;
}
footer object {
	vertical-align: baseline;
	height: 18px;
	vertical-align: -20%;
	margin-right: 5px;
}
footer object {
	pointer-events: none;
}
footer a {
	border-left: 1px dashed #E6E3D4;
	padding: 5px;
	cursor: pointer;
	color: #E6E3D2;
}
footer a:hover {
	color: #F2A8C3;
}

/****************************************
 * Feedback Popup
 ****************************************/

.feedback-popup {
	background: #E6E3D2;
	height: 510px;
	opacity: 0;
	padding: 15px;
	position: fixed;
	transition: 0.2s opacity;
	width: 360px;
}
.feedback-popup p {
	font-size: 14px;
}
.feedback-popup h3 {
	font-size: 20px;
}

.exit-button {
	position: absolute;
	right: 5px;
}
.exit-button img {
	height: 35px;
}

#feedback-popup-akita-img {
	left: -45px;
	height: 250px;
	position: absolute;
	top: 30px;
	transform: rotate(23deg);
}

#feedback-popup-woof-img {
	height: 50px;
	position: absolute;
	right: 45px;
	top: 220px;
}

.feedback-popup-text {
	color: #A84900;
	margin-top: 300px;
	text-align: center;
}

#feedback-popup-survey-button {
	background: #A84900;
	border: none;
	color: #E6E3D2;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	letter-spacing: 0.5px;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 170px;
}

#feedback-popup-nothanks-button {
	text-decoration: underline;
}

#feedback-popup-border {
	border: 5px solid black;
	left: -5px;
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: -5px;
	width: 100%;
}

.plain-content-button {
	background-color: inherit;
	border: none;
	color: #A84900;
}
